.html {
    width: 100%;
}

#pagecv {
    background-color: beige; /* Couleur de fond burlywood */
}

#fond {
    background-color: beige; /* Couleur de fond burlywood */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #faf6e9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre {
    text-align: center;
}

.credit {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 550px;
    color: #a88d32;
}

.start {
  background: #2f2f2f;
  padding: 60px 40px;
  border-radius: 205px;
  width: 380px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.start h1 {
  margin : 0 0 20px 0;
  color : #ffcc33;
  font-size: 2rem;
}

.start p {
  color: #ffffff;
  font-size: 1.1rem;
}

.start a {
  color:  #ffcc33;
  text-decoration: underline;
  font-weight: bold;
}

.retour {
    text-align: right; /* Centrage du texte */
    font-size: 20px; /* Taille de police de 20px */
    margin-top: -4%; /* Marge en haut de 20px */
}

.name-first {
  font-size: 22px;
  font-weight: 600;
}

.location {
  font-size: 12px;
  color: var(--gray);
  margin-top: -1.8em;
}